section.added-benefits {

  background:-webkit-gradient(linear, right top, left top, from(#7ed957), to(#008080));
  background: url("../img/bg-pattern.png"), linear-gradient(to left, #7ed957, #008080);
}
    .section-heading {
        h2 {
            font: weight 200;
            color: "white";
        }

    }
    .benefit {
        color:"white";
    }
    .benefit-text {
        color:"white";
    }
