// Styling for the download section
section.download {
    position: relative;
    padding: 100px 0;
    h2 {
        font-size: 30px;
        margin-top: 0;
    }
    
    @media(min-width: 768px) {
        h2 {
            font-size: 30px;
        }
    }
}
